// = require normalize.css
// = require main.css
// = require rouge.css

@import "compass/css3"

$default-border-radius: 5px
$default-box-shadow-color: rgba(#000, .33)
$default-box-shadow-h-offset: 0px
$default-box-shadow-v-offset: 2px
$default-box-shadow-blur: 4px
$default-box-shadow-spread: false
$default-box-shadow-inset: false

body
  font-family: "ff-meta-serif-web-pro", serif

h1, h2, h3, h4, h5, h6
  font-family: "ff-meta-web-pro", sans-serif

pre
  padding: 1em
  font-size: .8em
  @include border-radius
  @include single-box-shadow

#wrapper
  width: 640px
  margin: 1em auto
